<!doctype html>
<html>
<head>
    <title>Gratitude Companion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="floating floating1"></div>
    <div class="floating floating2"></div>
    <div class="floating floating3"></div>
    <div class="floating floating4"></div>
    <div class="container">
        <div id="chat-container">
            <h1>Gratitude Companion</h1>
            <div id="loading-greeting" class="spinner">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p id="initial-message" style="display:none;"></p> <!-- Placeholder for the greeting message -->
            <div class="input-container">
                <form id="chatForm" onsubmit="event.preventDefault(); sendMessage();">
                    <input type="text" id="message" name="message" placeholder="Message Gratitude Companion">
                </form>
            </div>
            <div id="loading" class="spinner" style="display:none;">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="response"></div>
            <div id="download-container" style="display: none;">
                <select id="download-format">
                    <option value="txt">TXT</option>
                    <option value="docx">DOCX</option>
                </select>
                <button onclick="downloadConversation()">Download Conversation</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>